<ion-header>
  <ion-toolbar>
    <ion-title>เพิ่มบันทึกแมว | Add Cat Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; margin-top: 50%;">
    <ion-icon name="checkmark-circle" style="font-size: 80px; color: green;"></ion-icon>
    <h2>เพิ่มบันทึกเสร็จสิ้น!</h2>

    <ion-button expand="block" color="primary" [routerLink]="'/page1'">หน้าหลัก</ion-button>
    <ion-button expand="block" color="secondary"[routerLink]="'/page7'">ดูแมวที่บันทึก</ion-button>
  </div>
</ion-content>

