<ion-header>
  <ion-toolbar>
    <ion-title>แมวที่บันทึกไว้</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">

    <div class="icon-container">
      <div class="icon-item">
        <img src="assets/img/kio.jpg"  class="circle-image alt=" width="150px" />
        <p>ไข่ดาว<p>
      </div>
  
      <div class="icon-item">
        <img src="assets/img/kumtum.jpg"  class="circle-image alt=" width="150px" />
        
        <p>หมูกรอบ<p>
      </div>
  
      <div class="icon-item">
        <img src="assets/img/mimi.jpg"  class="circle-image alt=" width="150px" />
        
        <p>สามชั้น</p>
      </div>
  
      <div class="icon-item">
        <img src="assets/img/hug.jpg"  class="circle-image alt=" width="150px" />
     
        <p style="text-align: center;">ขาหมู</p>
        
        
      </div>
    </div>
  
    <div>
      <ion-button expand="block" color="secondary"[routerLink]="'/page8'">ดูแมวที่บันทึกบันทึก</ion-button>
    </div>
  </ion-content>
  



