<ion-header>
  <ion-toolbar>
    <ion-title>ดูข้อมูลแมว</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">

    <div class="icon-container">
      <div class="icon-item">
        <img src="assets/img/kio.jpg" name="add-circle-outline"[routerLink]="'/page11'" class="circle-image alt=" width="150px" />
        <p>ไข่ดาว<p>
          
          
      </div>
  
      <div class="icon-item">
        <img src="assets/img/kumtum.jpg" name="add-circle-outline"[routerLink]="'/page11'" class="circle-image alt=" width="150px" />
        
        <p>หมูกรอบ<p>
      </div>
  
      <div class="icon-item">
        <img src="assets/img/mimi.jpg" name="add-circle-outline"[routerLink]="'/page11'" class="circle-image alt=" width="150px" />
        
        <p>สามชั้น</p>
      </div>
  
      <div class="icon-item">
        <img src="assets/img/hug.jpg" name="add-circle-outline"[routerLink]="'/page11'" class="circle-image alt=" width="150px" />
        <p style="text-align: center;">ขาหมู</p>
        
      </div>
    </div>
  
    <div>

    </div>
  </ion-content>
  





