<ion-header> 
  <ion-toolbar>
    <ion-title>บันทึกสุขภาพประจำวัน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>วันที่13 กันยายน 2567</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">ท่าทางและอารมณ์</ion-label>
        <ion-input placeholder="กรอกข้อมูลท่าทางและอารมณ์ของแมว"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">น้ำหนักแมว</ion-label>
        <ion-input placeholder="กรอกน้ำหนักแมว"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">สุขภาพขน</ion-label>
        <ion-input placeholder="กรอกสุขภาพขน"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">การขับถ่าย</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">อาหาร</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button expand="block" color="secondary" [routerLink]="'/page9'">ยืนยัน</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
