<ion-header>
  <ion-toolbar>
    <ion-title>เพิ่มบันทึกแมว | Add Cat Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>ส่วนที่ 2 : ข้อมูลสุขภาพเบื้องต้น</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <!-- Input Fields -->
      <ion-item>
        <ion-label position="stacked">สายพันธุ์แมว</ion-label>
        <ion-input placeholder="กรอกสายพันธุ์แมว"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">เพศแมว</ion-label>
        <ion-select placeholder="เลือกเพศแมว">
          <ion-select-option value="male">ผู้</ion-select-option>
          <ion-select-option value="female">เมีย</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">สุขภาพขน</ion-label>
        <ion-input placeholder="สุขภาพขน"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">พบสัตว์แพทย์ล่าสุด</ion-label>
        <ion-input placeholder="พบสัตว์แพทย์ล่าสุด"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">นัดพบแพทย์ครั้งถัดไป</ion-label>
        <ion-input placeholder="กรอกนัดพบแพทย์ครั้งถัดไป"></ion-input>
      </ion-item>

      <!-- Button -->
      <ion-button expand="block" color="primary" [routerLink]="'/page4'">ตรวจสอบข้อมูล</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

