

<P></P>
<P></P>
<P></P>

<ion-content fullscreen class="ion-padding">
<img src="assets/img/kime.png" class="circle-image pt" alt="" width="150px">
  <div class="icon-container">
    <div class="icon-item">
      <ion-icon name="add-circle-outline"[routerLink]="'/page2'"></ion-icon>
      <p>เพิ่มแมว<p>
    </div>

    <div class="icon-item">
      <ion-icon name="paw-outline" [routerLink]="'/page7'"></ion-icon> 
      <p>ดูแมวที่บันทึกไว้<p>
    </div>

    <div class="icon-item">
      <ion-icon name="heart-outline"[routerLink]="'/page10'"></ion-icon>
      <p>ดูข้อมูลแมว</p>
    </div>

    <div class="icon-item">
      <ion-icon name="document-text-outline" [routerLink]="'/page11'"></ion-icon>
      <p style="text-align: center;">ประวัติบันทึกสุขภาพประจำวัน</p>
    </div>
  </div>

  <div class="center-item">
    <ion-icon name="medkit-outline" size="large" [routerLink]="'/page8'"></ion-icon>
    <p>บันทึกสุขภาพแมววันนี้</p>
  </div>
</ion-content>
