<ion-header>
  <ion-toolbar>
    <ion-title>บันทึกสุขภาพประจำวัน</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" ></ion-back-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>
<ion-content>
  
  
  <div style="text-align: center; margin-top: 50%;">
    <ion-icon name="checkmark-circle" style="font-size: 80px; color: green;"></ion-icon>
    <h2>เพิ่มบันทึกเสร็จสิ้น!</h2>

 
    <ion-button expand="block" color="secondary"[routerLink]="'/page10'" >ดูบันทึกสุขภาพ</ion-button>
  </div>
</ion-content>

